<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>180859446971-b80f1h1q5r15qerpu4995urq0ibdl3j3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.180859446971-b80f1h1q5r15qerpu4995urq0ibdl3j3</string>
	<key>API_KEY</key>
	<string>AIzaSyBRpCUepEPFlbfwAtsbFXi_iOCJTF8vX7Y</string>
	<key>GCM_SENDER_ID</key>
	<string>180859446971</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.grullasoftware.musicalpath</string>
	<key>PROJECT_ID</key>
	<string>musical-path</string>
	<key>STORAGE_BUCKET</key>
	<string>musical-path.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:180859446971:ios:7a360bb7a3701faccf6b9e</string>
</dict>
</plist>